.offers-page-horizontal-container {
    display: flex;
    align-items: center;
}

.offers-page-top-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.offers-page-top-container-title {
    font-size: 32px;
    font-weight: bold;
}

.offers-page-card {
    width: 250px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.offers-page-card img {
    max-height: 150px;
    object-fit: cover;
}
